.page-header
  %h1
    Project name : 
    = @project.name 
= simple_format(@project.description, {}, wrapper_tag: 'div')
%br
.page-header
  %h1
    Tickets
%br
- @tickets.each do |ticket|
  .row
    .col
      %h4= link_to ticket.name, project_ticket_path(@project, ticket)
%a.btn.btn-default{:href => new_project_ticket_path(@project)}
  Add a ticket to this project
%a.btn.btn-default{:href => projects_path}
  Back to projects list